Exercícios/012/midia/Meu-Video1.webm
Exercícios/012/midia/Meu-Video2.mp4
desafios/desfio-html-009/video04.xcf
desafios/desfio-html-009/video01.xcf
desafios/desfio-html-009/video02.xcf
desafios/desfio-html-009/video03.xcf
Exercícios/003/agendamento-cagece.pdf
Exercícios/010/livro/comprovante_agendamento_vistoria_2586743.pdf
Exercícios/011/midia/africanfellacumbiadeli.mp3
Exercícios/011/midia/guanacast-33.mp3
Exercícios/012/midia/meu-video.mp4
