* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(193, 193, 238);

    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    width: 500px;
    height: 500px;
}

form > div {
    display: flex;
    flex-direction: column;
} 

input {
    height: 20px;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    padding-top: 20px;
}
img{
    width: 50px;
    margin: auto;
    display: flex;
}